.game-link-decoration {
  text-decoration: none;
}
.game-list-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 35px;
}

.game-img {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.game-title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #231f20;
  margin-bottom: 7px;
}

.game-views {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #231f20;
  margin-top: 0px;
}
