.header-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.darkThemeBgColor {
  background-color: #181818;
}

.dark-item-color {
  color: #ffffff;
}

.header-img-logo {
  height: 30px;
}

.profile-details-container {
  display: flex;
  flex-direction: row;
  width: 35vh;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.theme-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.profile-img {
  height: 32px;
}
.logout-btn {
  height: 32px;
  width: 75px;
  border: 1px solid #3b82f6;
  border-radius: 3px;
  border-top: 2px solid;
  color: #3b82f6;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.dark-logout-btn {
  height: 32px;
  width: 75px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  border-top: 2px solid;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.popup-container {
  width: 25vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
.popup-text {
  color: #00306e;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  width: 120px;
  height: 40px;
  margin-right: 20px;
}

.confirm-btn {
  background-color: #3b82f6;
  color: white;
  border: 1px solid #3b82f6;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  width: 120px;
  height: 40px;
}
